<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" href="../../../../favicon.ico">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('/CSS/Style.css') }}">
    </head>
</html>
<body>
<header>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
            <a href={{ path('homepage')}} class="navbar-brand d-flex align-items-center">
                <strong>Accueil</strong>
            </a>
            {% if not is_granted('ROLE_USER') %}
                <a href={{ path('registration') }} class="navbar-brand d-flex align-items-center">
                    <strong>Inscription</strong>
                </a>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <a href={{ path('admin') }} class="navbar-brand d-flex align-items-center">
                    <strong>Administration</strong>
                </a>
            {% endif %}
            {% if  is_granted('ROLE_USER') %}
                <a href={{ path('basket_list') }} class="navbar-brand d-flex align-items-center">
                    <strong>Mon compte</strong>
                </a>
            {% endif %}
            {% if is_granted('ROLE_USER') %}
                <a href={{ path('logout') }} class="navbar-brand d-flex align-items-center">
                    <strong>Déconnexion</strong>
                </a>

            {% else %}
                <a href={{ path('login') }} class="navbar-brand d-flex align-items-center">
                    <strong>Login</strong>
                </a>
            {% endif %}
        </div>
    </div>
</header>
{% block body %}{% endblock %}

<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
        <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
    </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{#<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/vendor/holder.min.js"></script>#}
</body>
</html>
